@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary- #1F1E24 */


/* secondary- #6556CD */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #20241e;
    border-radius: 10px;
}